/*font-family: 'Hammersmith One', sans-serif;
font-family: 'Playfair Display', serif;
font-family: 'Roboto', sans-serif;*/

body,
div,
dl,
dt,
dd,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

h1,
h2,
h3 {
    font-family: 'Playfair Display', serif;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
}

.container {
    max-width: 820px;
    margin: 0 auto;
    padding: 0 10px;
}

.wrapper {
    max-width: 970px;
    margin: 0 auto;
    padding: 0px 10px;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
/**********header section***********/
.header {
    background: url("we-are-bg.jpg") no-repeat ;
    background-size: cover;
    padding-top: 15px;
    padding-bottom: 75px;
}

.header_row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_navigation a {
    color: white;
}

.header_navigation a:hover {
    color: #00e0d0;
}

.header_navigation li {
    font-weight: 900;
    display: inline-block;
    margin-left: 20px;
    font-size: 13px;
}

.header_title {
    margin-top: 170px;
    color: white;
    text-align: center;
}

.header_title h1 {
    font-size: 32px;
}

.header_title h1::after {
    content: "";
    display: block;
    width: 50px;
    height: 2px;
    background-color: #00e0d0;
    margin: 20px auto 0px auto;
}

.header_title p {
    font-size: 14px;
    margin-top: 50px;
}

.header_title button {
    margin-top: 50px;
}

.btn {
    background-color: transparent;
    color: #00e0d0;
    border: 1px #00e0d0 solid;
    border-radius: 5px;
    width: 120px;
    height: 40px;
}

.btn:hover {
    cursor: pointer;
    opacity: 0.7;
}

.slider {
    margin-top: 127px;
}

.slider li {
    display: inline-block;
    height: 10px;
    width: 10px;
    border: 1px white solid;
    border-radius: 50%;
}

.slider li:hover {
    cursor: pointer;
}

li.active {
    background-color: #00e0d0;
    border-color: #00e0d0;
}

/************about section***************/
.about {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.about_story {
    padding: 70px 0px;
}

.about_story img {
    height: 229px;
    margin-top: 10px;
}

.about_content {
    margin-left: 100px;
}

.subheader {
    color: #413d4b;
    font-size: 22px;
}

.about_content p {
    font-size: 14px;
    margin-top: 30px;
    color: #817f86;
    font-weight: 300;
}

.about_content button {
    margin-top: 35px;
}

.about_play {
    background: url('image/video_bg.jpg') no-repeat center center fixed;
    background-size: cover;
    padding: 200px 0px;
    color: white;
    font-size: 16px;
    display: block;
    font-weight: 900;
    text-align: center;
}

.about_play p {
    margin-top: 35px;
}
/************expertise section***************/
.expertise {
    padding: 50px 0px 70px 0px;
    text-align: center;
}

.expertise>p {
    font-family: 'Playfair Display', serif;
    font-size: 14px;
    color: #7d7976;
    margin-top: 20px;
}

.expertise>p::after {
    content: "";
    display: block;
    width: 50px;
    height: 2px;
    background-color: #7d7976;
    margin: 20px auto 0px auto;
}

.expertise_list {
    margin-top: 50px;
}

.list_item {
    color: #7d7976;
    font-size: 14px;
    align-items: center;
    margin-left: 25px;
    margin-right: 25px;
    max-width: 250px;
}

.list_item>img {
    width: fit-content;
}

.item_title {
    color: black;
    font-weight: 900;
    margin-top: 35px;
}

.item_about {
    margin-top: 20px;
}